body {
background-color:#FFFF;
color: #757575;

font-family: Roboto, sans-serif;
letter-spacing: 0.03em;
}

.list {
    list-style: none;
}
/* header */
.page-header {
    background-color:#FFFF ;
    
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}
.logo {
    color: #212121;
    
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
}
        

.logo:hover {
    color: #757575;
}
.logo > span {
    color: #2196F3;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    
}
.logo>span:hover {
    color: #757575;
}
.site-nav .link{
    color: #212121;    
}
 .site-nav .link:hover,.site-nav .link:focus {
    color: #2196F3;
}
  .auto-nav .adress {
     color: #757575;

  }

 .auto-nav .adress:hover,.auto-nav .adress:focus {
    color: #2196F3
}
/* Hero section */
.hero-section {
    background-color: #2F303A;
    color: #FFFFFF;
   
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;    
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;   
    }
    .hide {
        display: none;
    }
.button {
    background-color: #2196F3;
    color: #FFFFFF;   
    
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;    
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
}
.button:hover {
    background-color:#FFFFFF;
    color: #2F303A;
}
.button:focus {
    color: #FFFFFF;
}

/* section features */
.features {
}
.third-text {
    color: #212121; 
        
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;    
    text-transform: uppercase;
}
/* Work */
.work {

}
.second-text {
    color: #212121;    
        
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    
}
/* Team */
.team {
    background-color: #F5F4FA;
}
/* Hooter */
.hooter {
    background-color: #2F303A;
    color: #FFFFFF;
}
.hooter-adress {
    color: #FFFFFF;
    
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;     
    
}
.logo-hooter {
    color: #FFFFFF;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    
}
.logo-hooter > span {
    color: #2196F3;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    
}
.hooter-a {
    color: rgba(255, 255, 255, 0.6);
    
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;        
    
}

/* Portfolio */

.page-nav .list {
    color: #212121;
}

/* вторичный цвет текста #212121;*/
/*основной цвет текста #757575;*/
/*белый #FFFFFF*/
/* эфект #2196F3;*/
/* цвет адреса в ховере rgba(255, 255, 255, 0.6) */
/* color background hader #FFFF*/
/* color background hero #2F303A */
/* color background section #E5E5E5 */
/* color background section team #F5F4FA */
/*color background footer #2F303A */
